.add-reserve {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #97bf0f;
  color: #cec2c2;
}

.r_container {
  margin-top: 250px;
}

.title {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  font-style: bold;
}

#city {
  background-color: #97bf0f;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 400px;
  height: 70px;
  margin-left: 70px;
  margin-right: 80px;
}

.hr {
  border: 2px solid #fff;
}

#city:hover {
  background-color: #fff;
  color: #97bf0f;
}

#btn {
  background-color: #97bf0f;
  border: 1px solid #fff;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 400px;
  height: 70px;
  margin-left: 0;
}

.about-class {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  color: #cec2c2;
  font-weight: 700;
  font-family: sans-serif;
}
