.create-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: var(--orange);
  color: white;
  padding: 0.5rem;
}

.create-section h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px var(--black);
  text-align: center;
}
