.classes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.classes-container .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  width: 2em;
  height: 2em;
  background-color: #97bf0f;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.classes-container button > * {
  color: #fff;
}

.classes {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.classes li {
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 20px;
  list-style: none;
}

.classes li img {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.classes li .asterisks {
  padding: 0 2px;
  height: 20px;
  overflow: hidden;
}

.btn-success {
  background-color: #97bf0f !important;
  border-color: #97bf0f !important;
}

.btn-success:hover {
  background-color: aqua !important;
  color: black !important;
}

.btn-success:hover a {
  color: black !important;
}

.green {
  color: #97bf0f;
}

.circle {
  background-color: #97bf0f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}

.details {
  max-width: 40%;
}

.detail-btn > * {
  text-decoration: none;
}

.detail-btn:first-child :hover {
  color: #fff;
}

.img-detail {
  width: 50%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
